# Avoid binaries
**/Anaconda*
**/pycharm-*
**/bin
**/.bins
**/src
ffmpeg_src
*kate-swp
**/*.log
**/*.tar.gz
**/*.tar.xz
**/*.rpm
**/*.deb

# avoid pdfs and sublime binaries
**/*.pdf
**/*.mkv
**/*.mp4
Sublime Text*
Kernel/tests

# avoid other not useful files
KWALLET integration*
node_modules*
installed.repositories
installed.packages
