# Avoid binaries
**/Anaconda*
**/pycharm-*
bin
.bins
ffmpeg_src
*kate-swp
*.log

# avoid pdfs and sublime binaries
**/*.pdf
Sublime Text*

# avoid other not useful files
KWALLET integration*
node_modules*
installed.repositories
installed.packages
