[Desktop Entry]
Categories=AudioVideo;Video;Player;
Comment=Stream video via uPNP
Exec=ums
Icon=ums
Name=Universal Media Server
GenericName=UMS
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
Encoding=UTF-8
